[Unit]
Description=Alice Auto Hotspot & Setup Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/alice
ExecStart=/bin/bash /home/alice/autohotspot.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
