[Unit]
Description=Alice Box Service
After=network.target sound.target

[Service]
# CHANGE "alice" TO "pi" IF NECESSARY
User=alice
Group=alice

# ADAPT PATH IF NECESSARY (/home/pi/alice/alice.py)
WorkingDirectory=/home/alice
ExecStart=/usr/bin/python3 /home/alice/alice.py

Restart=always
RestartSec=5

# Environment variables if audio needs specific config
Environment=PYTHONUNBUFFERED=1
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
